<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>aiuenode</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../public/css/test3.css">
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
  <div class="wrapper window-wrapper">

    <div class="wrapper header-wrapper">

    </div>


    <div class="wrapper body-wrapper">
      <div class="wrapper groupA-wrapper">
        <div class="wrapper players-wrapper">
          <div class="wrapper player-item-wrapper" id="player1">
            <!-- <div>iiiiiiiiiiiii</div> -->
          </div>
          <div class="wrapper player-item-wrapper" id="player2">
            <!-- <div>iiiiiiiiiiiii</div> -->
          </div>
          <div class="wrapper player-item-wrapper" id="player3">
            <!-- <div>iiiiiiiiiiiii</div> -->
          </div>
          <div class="wrapper player-item-wrapper" id="player4">
            <!-- <div>iiiiiiiiiiiii</div> -->
          </div>
        </div>
      </div>

      <div class="wrapper groupB-wrapper">
        <div class="wrapper board-wrapper">
          <div class="aiue-board">
            <div class="aiue-line"><button type="button">あ</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">か</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">さ</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">た</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">な</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">は</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">ま</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">や</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">ら</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
            <div class="aiue-line"><button type="button">わ</button><button type="button">い</button><button type="button">う</button><button type="button">え</button><button type="button">お</button></div>
          </div>
        </div>
        <div class="wrapper chat-wrapper">
          <!-- <div>uuuuuuuuuuuuuu</div> -->
        </div>
      </div>
    </div>


    <div class="wrapper footer-wrapper">

    </div>


  </div>
</body>

</html>