<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>aiuenode</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>

  <div class="h-100">
    <div class="col-sm-9" style="background: green;">
      

  <div class="aiue-wrapper">
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
    <div class="aiue-line">
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
      <a class="aiue-item">a</a>
    </div>
  </div>

    </div>
    <div class="col-sm-3 .no-gutters" style="background: #ffaaaa; padding: 0;">
      <p>massages</p>

      <div class="table_frame">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">4</th>
              <td>Ema</td>
              <td>Smith</td>
              <td>@emr</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">5</th>
              <td>Jacob</td>
              <td>Taylor</td>
              <td>@math</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">6</th>
              <td>Charlie</td>
              <td>Brown</td>
              <td>@hello</td>
            </tr>
            <tr>

            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">4</th>
              <td>Ema</td>
              <td>Smith</td>
              <td>@emr</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">5</th>
              <td>Jacob</td>
              <td>Taylor</td>
              <td>@math</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">6</th>
              <td>Charlie</td>
              <td>Brown</td>
              <td>@hello</td>
            </tr>
            <tr>

          </tbody>
        </table>
      </div>
      <!-- <div id="msg-box" class="p-0">
        <div class="" style="padding: 0.5em 0;">
          <p style="background:#aaffaa; padding: 0; margin: 0;">a-than</p>
          <p style="background:#aaffda; padding: 0; margin: 0 0 0 1em;">aaaaaaaaaaa</p>
        </div>
        <div class="" style="padding: 0.5em 0;">
          <p style="background:#aaffaa; padding: 0; margin: 0;">a-than</p>
          <p style="background:#aaffda; padding: 0; margin: 0 0 0 1em;">aaaaaaaaaaa</p>
        </div>
        <div class="" style="padding: 0.5em 0;">
          <p style="background:#aaffaa; padding: 0; margin: 0;">a-than</p>
          <p style="background:#aaffda; padding: 0; margin: 0 0 0 1em;">aaaaaaaaaaa</p>
        </div>
        <div class="" style="padding: 0.5em 0;">
          <p style="background:#aaffaa; padding: 0; margin: 0;">a-than</p>
          <p style="background:#aaffda; padding: 0; margin: 0 0 0 1em;">aaaaaaaaaaa</p>
        </div>
      </div> -->
    </div>

  </div>
  <!-- <div class="container-fluid">
    <form id="login-form">
      <div class="form-group">
        <label>Room</label>
        <input type="text" name="room" class="form-control" placeholder="Enter Room ID">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter Your Name">
      </div>
      <input type="submit" class="btn btn-primary" value="LogIn">
    </form>
    <form id="logout-form">
      <input type="submit" class="btn btn-primary" value="Leave room">
    </form>
  </div>

  
  <div class="container-fluid">
    <form id="chat-form">
      <div class="form-group">
        <label>Chat</label>
        <input type="text" name="text" class="form-control" placeholder="">
      </div>
      <input type="submit" class="btn btn-primary" value="Send">
    </form>
  </div>


  <div class="container-fluid">
    <p>massages</p>
    <div id="msg-box"></div>
  </div>

  <p id="server-time"></p>


  <script src="./js/socket_setup.js"></script>
  <script src="./js/socket_msg.js"></script>
  <script src="./js/socket_login.js"></script> -->
</body>

</html>