<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>aiuenode</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../public/css/test2.css">
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
  <div class="wrapper window-wrapper">

    <div class="wrapper board-wrapper">
      <div>aaaaaaaaaaa</div>
    </div>

    <div class="wrapper players-wrapper">
      <div>iiiiiiiiiiiii</div>
    </div>

    <div class="wrapper chat-wrapper">
      <div>uuuuuuuuuuuuuu</div>
    </div>
    
  </div>
</body>

</html>