:root {
    --color-player-0: lightgreen;
    --color-player-1: #fac961;
    --color-player-2: #ff7a90;
    --color-player-3: #6dc6fa;
    --color-player-4: #d0a1fd;
}


div,
button,
input,
a,
span,
textarea,
label {
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    background: #333;
    margin: 0;
}

.wrapper {
    margin: 0;
    padding: 0;
    border: 0;
}

.window-wrapper {
    height: 100%;
    width: 100%;
}

.body-wrapper {
    height: calc(75% - 5em);
    width: 100%;
}

.header-wrapper {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-title {
    color: var(--color-player-0);
    font-size: xx-large;
    padding: 1em;
}

/* for pc and tablet */
/* @media only screen and (min-width: 768px) { */

.body-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.board-wrapper {
    float: left;
    height: 75%;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.players-wrapper {
    float: left;
    /* background: antiquewhite; */
    height: 100%;
    width: 100%;

}

.groupA-wrapper {
    float: left;
    width: 40%;
}

.groupB-wrapper {
    float: left;
    width: 60%;
    height: 100%;
}


.aiue-board {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.aiue-line {
    display: block;
}

.aiue-line>.aiue-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3em;
    min-height: 3em;
    width: 4vw;
    height: 4vw;
    max-width: 7vh;
    max-height: 7vh;
    margin: 1vw 0.5vw;
    /* background: darkslategrey; */
}

/* .aiue-line>.aiue-button:hover {
    color: #333;
    background: var(--color-player-0);
    cursor: pointer;
} */

.aiue-button {
    border-radius: 10%;
    border-width: 0.3em;
    border-color: var(--color-player-0);
    border: solid;
    background: #333;
    color: var(--color-player-0);
}

.selected {
    color: #333;
    background: var(--color-player-0);
}

.player-item-wrapper {
    height: 25%;
    position: relative;

}

.player1 {
    order: 1;
    border-color: var(--color-player-1);
    color: var(--color-player-1);
    stroke: var(--color-player-1);
}

.player2 {
    order: 2;
    border-color: var(--color-player-2);
    color: var(--color-player-2);
    stroke: var(--color-player-2);
}


.player3 {
    order: 3;
    border-color: var(--color-player-3);
    color: var(--color-player-3);
    stroke: var(--color-player-3);
}

.player4 {
    order: 4;
    border-color: var(--color-player-4);
    color: var(--color-player-4);
    stroke: var(--color-player-4);
}

.player1 .aiue-button {
    border-color: var(--color-player-1);
    color: var(--color-player-1);
}

.player2 .aiue-button {
    border-color: var(--color-player-2);
    color: var(--color-player-2);
}

.player3 .aiue-button {
    border-color: var(--color-player-3);
    color: var(--color-player-3);
}


.player4 .aiue-button {
    border-color: var(--color-player-4);
    color: var(--color-player-4);
}

.player1 .player-item {
    z-index: 5;
}

.player2 .player-item {
    z-index: 4;
}

.player3 .player-item {
    z-index: 3;
}

.player4 .player-item {
    z-index: 2;
}

.player-item {
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    padding: 0.5em;
    min-width: 27em;
    width: 80%;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.25em;
    max-height: 65%;
}

.aiue-char {
    font-size: 2em;
}


.player-header {
    position: absolute;
    padding-top: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    left: -1.4em;
    top: -1em;
    font-size: x-large;
    font-weight: bold;
    background-color: #333;
    display: flex;
    align-items: center;
}

.player-header-svg {
    fill: none;
    stroke-width: 0.55;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 7;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.player-dot {
    display: flex;
    width: 1.2em;
    height: 1.6em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0.2em;
}

.player-name {
    display: inline-block;
    margin: auto;
    padding: 0;
}

.player-stella {
    display: flex;
    justify-content: right;
    height: 2em;
    max-height: 3vh;
}

.player-stella-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-stella-number {
    font-size: x-large;
    padding-right: 0.2em;
    padding-left: 0.2em;
    padding-bottom: 0.1em;
}

.player-word {
    display: flex;
    justify-content: center;
    max-width: 64vh;
    margin: auto;
}

.player-word button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 5em;
    padding: 0;
    margin: 0.4em;
    border-color: var(--color-player-1);
    color: var(--color-player-1);
}

.player-word button::before {
    content: "";
    display: block;
    padding-top: 100%;
    padding-left: 100%;
}

.aiue-char {
    position: absolute;
}


.footer-wrapper {
    height: 25%;
    width: 100%;
}

.chatlog-wrapper {
    float: left;
    padding-bottom: 1em;
    height: calc(100% - 1em);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox-wrapper {
    float: left;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-end;
}


.chat-form {
    width: 100%;
    padding: 1em;
    margin: 0;
}

.bms_send {
    /* background-color: #eee; */
    height: 48px;
    width: 100%;
    color: var(--color-player-0);
}

.bms_send_btn {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: larger;
    float: right;
    margin-top: 0.5em;
    border-radius: 0.5em;
    border-width: 0.3em;
    border-color: var(--color-player-0);
    border: solid;
    background: #333;
    color: var(--color-player-0);
    align-items: center;
}

/* .bms_send_btn:hover {
    cursor: pointer;
    color: #333;
    background: var(--color-player-0);
} */


.bms_send_btn.disabled {
    cursor: default;
    color: #333;
    background: var(--color-player-0);
}


.FlexTextarea {
    position: relative;
    line-height: 1.8;
}

.FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    max-height: 8em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 0.5em;
    border-width: 0.3em;
    border: solid;
}

.FlexTextarea__textarea {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px 15px;
    width: 100%;
    height: 100%;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
    border-radius: 0.5em;
    border-width: 0.3em;
    border-color: var(--color-player-0);
    border: solid;
    background: #333;
    color: var(--color-player-0);
}

.FlexTextarea__textarea:focus {
    outline: 0;
}

.game-control {
    float: left;
    height: 25%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.game-status {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    font-size: larger;
    color: var(--color-player-0);
    max-height: 8vh;
}

.game-control-button {
    display: flex;
    width: 10em;
    height: 4em;
    margin-right: 1em;
    border-radius: 0.5em;
    border-width: 0.3em;
    border-color: var(--color-player-0);
    border: solid;
    background: #333;
    color: var(--color-player-0);
    align-items: center;
    justify-content: center;
    max-height: 8vh;
    max-width: 20vh;
}

/* .game-control-button:hover {
    color: #333;
    background: var(--color-player-0);
} */

.game-control-button>.icon {
    float: left;
}

.game-control-button>.text {
    margin: 0;
    font-size: x-large;
}

.game-control>.player-word {
    width: 50%;
    margin-left: 2em;
    margin-right: 2em;
    max-height: 8vh;
    max-width: 62vh;
}

.chat-log {
    margin: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-radius: 1em;
    border-color: var(--color-player-0);
    border-width: 0.25em;
    height: calc(98% - 2em);
    width: 90%;
    overflow-y: auto;
}

.chat-log td {
    padding-bottom: 0.3em;
    color: var(--color-player-0);
    vertical-align: baseline;
}

.chatlog-speaker {
    width: 7em;
    height: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 2em;
    white-space: nowrap;
    max-width: 10em;
}

.chatlog-separator {
    padding-right: 0.5em;
    padding-left: 0.5em;
}


.FlexTextarea__textarea::-webkit-scrollbar,
.chat-log::-webkit-scrollbar {
    width: 1em;
    border-radius: inherit;
}

.FlexTextarea__textarea::-webkit-scrollbar:hover,
.chat-log::-webkit-scrollbar:hover {
    background-color: rgba(144, 238, 144, 0.4);
}

.FlexTextarea__textarea::-webkit-scrollbar-thumb,
.chat-log::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: transparent;
}

.FlexTextarea__textarea::-webkit-scrollbar-thumb:hover,
.chat-log::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 238, 144, 1);
}

.form-control {
    margin: 0.3em;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
    border-radius: 0.5em;
    border-width: 0.3em;
    border-color: var(--color-player-0);
    border: solid;
    background: #333;
    color: var(--color-player-0);
    width: 100%;
}

.form-control:focus {
    outline: 0;
}

.form-group {
    color: var(--color-player-0);
}

.form-wrapper {
    width: 20em;
}

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: var(--color-player-0);
    font-size: large;
}

.interact:hover {
    cursor: pointer;
    background-color: var(--color-player-0);
    color: #333;
}

.hide {
    display: none !important;
}


@media only screen and (max-width: 1200px) {
    #my-word .aiue-char {
        font-size: 1em;
    }
}