div {
    background: aquamarine;
    border: 2px solid gray;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    margin: 0;
    padding: 0;
    border: 0;
}

.window-wrapper {
    height: 100%;
    width: 100%;
}

.board-wrapper {
    float: left;
    background: aliceblue;
    height: 75%;
    width: 100%;
}

.players-wrapper {
    float: left;
    background: antiquewhite;
    height: 100%;
    width: 100%;

}

.chat-wrapper {
    background: cadetblue;
    float: left;
    height: 25%;
    min-height: 10em;
    width: 100%;
}

.right-wrapper {
    float: left;
    width: 40%;
}

.left-wrapper {
    float: left;
    width: 60%;
}

.player-item-wrapper{
    height: 25%;
    background: lightsteelblue;
}
.player-item-wrapper:nth-child(odd){
    background-color: lightskyblue;
}